version: "3"

services:
  imaginary:
    image: h2non/imaginary:1.1.1
    ports:
      - "8088:8088"
    environment:
      - PORT=8088
    command: -concurrency 50 -enable-url-source -http-read-timeout 5

